<div class="top-row pl-4 navbar navbar-dark" >
    <a class="navbar-brand" href="">BlazorCRUD (Blazor App)</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>



<div class="@NavMenuCssClass" @onclick="ToggleNavMenu" >
    <ul class="nav flex-column">

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/" style="color:blue">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Suppliers
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/SuppliersAdv" style="color:blue">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Suppliers (Advanced)
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Index" style="color:blue" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Assets
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
